{% extends 'base.html.twig' %}
{% import 'components/_toast.html.twig' as macro_toast %}


{% block title %}{{ 'page_title.login'|trans }}{% endblock %}

{% block body %}
<body class="bg-gradient-primary">
    <!-- Messages Flash Toast -->
    <div style="position: fixed; bottom: 10px; right: 10px; z-index: 10">
        {% for toast in app.flashes('toast') %}
            {{ macro_toast.toast(toast.style, toast.title, toast.message) }}
        {% endfor %}
    </div>
    <!-- End of Messages Flash Toast -->
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-5 col-lg-6 col-md-8">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-md-center">
                            <div class="col">
                                <div class="p-4">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">{{ 'login.title'|trans }}</h1>
                                    </div>
                                    <hr>
                                    <form class="user" method="post">
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmail">Email</label>
                                            <input type="email" value="{{ last_username }}" name="email"
                                                   id="inputEmail" class="form-control"
                                                   autocomplete="email" placeholder="john.doe@email.com"
                                                   required autofocus>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Password</label>
                                            <input type="password" name="password" id="inputPassword"
                                                   class="form-control"
                                                   autocomplete="current-password" placeholder="**********"
                                                   required>
                                        </div>
                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}"
                                        >
                                        <button class="btn btn-primary btn-icon-split" type="submit">
                                            <span class="icon text-white-50">
                                            <i class="fas fa-arrow-right"></i>
                                            </span>
                                            <span class="text">{{ 'login.button'|trans }}</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
{% endblock %}
